h1{
    color: rgb(235, 101, 24);
}
#show-sum{
    font-size: 50px;
    font-weight: bold;
    color: rgb(180, 14, 172);
    display: block;
    text-align: center;
}
form{
    text-align: center;
    margin: 20px 0;

}
h1{ 
    text-align: center;
 }
 num1{
    background-color: aquamarine;
}


input[type=text]{
    background-color: burlywood;
}
input[type=text]:focus{
    background-color: rgb(236, 236, 198);
}
hr{
    width: 70%;
}
#btn-red{
    background-color: red;
}
#btn-green{
    background-color: green;
}
#btn-yellow{
    background-color: yellow;
}
button{
    width: 100px;
    padding: 7px 0;
    border-radius: 50px;
    border-style: none;
}
button-hover{
    background-color: gray;
}
